.container{
    width: 40vw;
    margin: 0 auto;
    padding: 3vh 0 4vh 0;
    background: rgba(155, 155, 155, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}
.detect{
    background: rgb(167, 136, 196);
    border: none;
    width: 8vw;
    height: 3.5vh;
}

.linkInput{
    width: 20vw;
    height: 3vh;
}